*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.orig
*.swp

dist
work
build
pids
logs
results
coverage
lib-cov
html-report
xunit.xml
node_modules
npm-debug.log
.nyc_output
.tap

.project
.idea
.vscode
.settings
.iml
*.sublime-workspace
*.sublime-project

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
.AppleDouble
.LSOverride
.Spotlight-V100
.Trashes
